/* Global styles */
body {
    background: linear-gradient(to right, #ff6347, #ff8c00);
}

/* Button styles */
.btn-primary {
    background: linear-gradient(to right, #ff6347, #ff8c00);
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #ff6347;
}

/* Card styles */
.card {
    background: linear-gradient(to bottom, #87cefa, #007bff);
}

/* Hiding elements */
.hidden { 
    display: none;
}

/* Container styles */
.container {
    text-align: center;
    margin-top: 5rem;
}

/* Card title styles */
.card-title {
    font-size: 2rem;
}

/* Card body styles */
.card-body {
    padding: 1rem;
}

/* Card footer styles */
.card-footer {
    padding: 1rem;
}

/* Cocktail info styles */
.cocktail-info {
    margin-bottom: 1rem;
    text-align: left;
    color: white;
}

/* Cocktail image styles */
#cocktailImage img {
    width: 100%;
    border-radius: 5px;
}

/* Initial instructions styles */
.initialInstructions {
    padding: 1rem;
}

/* Styling for list items */
#ingredientList li {
    list-style-type: none;
    margin-bottom: 0.5rem;
}

/* Styling for headers */
h3 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

/* h3, div {
    margin-left: 5px;
} */

/* Styling for text */
.card-text {
    font-size: 1.2rem;
}

/* Styling for button */
#generateButton {
    width: 100%;
}

/* Styling for card header */
.card-header {
    background: #5bc0de;
    border-bottom: none;
}

/* Styling for card footer */
.card-footer {
    background: #5bc0de;
    border-top: none;
}
