/* Global styles */
body {
    background: linear-gradient(to bottom, #ff6347, #ff8c00);
}

/* Button styles */
.btn-primary {
    background: linear-gradient(to right, #ff6347, #ff8c00);
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.btn-back {
    margin-top: 6px;
    background: linear-gradient(to right, #ff6347, #ff8c00);
    border: none;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #ff6347;
}

.btn-back:hover {
    background-color: #ff6347;
}

/* Card styles */
.card {
    background: linear-gradient(to bottom, #87cefa, #007bff);
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background: #5bc0de;
    border-bottom: none;
}

.card-title {
    font-size: 2rem;
    color: orange;
}

.card-text {
    font-size: 1.2rem;
    color: white;
}

/* Container styles */
.container {
    text-align: center;
    margin-top: 5rem;
}

/* Initial instructions styles */
.initialInstructions {
    padding: 1rem;
}

/* Styling for list items */
#ingredientList li {
    list-style-type: none;
    margin-bottom: 0.5rem;
    color: white;
}

/* Styling for headers */
h3 {
    margin-top: 8px;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    color: orange;
}

/* Styling for text */
.card-text {
    font-size: 1.7rem;
    color: white;
}

#generateButton {
    width: 100%;
}

/* Styling for card footer */
.card-footer {
    background: #5bc0de;
    border-top: none;
}

#backButton, #refreshButton {
    display: none;
}


/* Styling for card image */
#cocktailImage img {
    width: 100%;
    border-radius: 5px;
}

/* Hiding elements */
/* .hidden {  */
    /* display: none; */
/* } */

/* Bootstrap Overrides */
.card-header,
.card-footer {
    background: transparent;
}
